@mixin column($width){
    display: flex;
    justify-content: space-between;
    align-items: center;
    >*{
        flex-basis:$width ;
    }
}

@mixin media-laptop{
    @media(max-width:$content-width){@content;}

}
@mixin media-tablet{
    @media(max-width:$tablet-width){@content;}

}
@mixin media-mobile-m{
    @media(max-width:$mobile-m-width){@content;}

}
@mixin media-mobile-s{
    @media(max-width:$mobile-s-width){@content;}

}