.long-button {
  transition: all 0.3s ease-out;
}

.text-overlay, .long-button, h2 {
  font-family: "Red Hat Text", Verdana, sans-serif;
}

.logo_text {
  font-family: "Magra", Verdana, sans-serif;
}

.social-icons, .footer_wraper, .slider_container, .container_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger_line {
  display: inline-block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #FFF;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Aleo", Verdana, sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFF;
}
@media (max-width: 650px) {
  h1 {
    display: none;
  }
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}
@media (max-width: 650px) {
  h2 {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}

h3 {
  font-family: "Aleo", Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}
@media (max-width: 768px) {
  h3 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
@media (max-width: 650px) {
  h3 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 700;
  }
}

h4 {
  font-family: "Red Hat Text", Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFF;
}

h5 {
  font-family: "Aleo", Verdana, sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}
@media (max-width: 650px) {
  h5 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

.button {
  font-family: "Red Hat Text", Verdana, sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  padding: 10px 25px;
  opacity: 0.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: #FFF;
  background-color: #0D606F;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 650px) {
  .button {
    display: none;
  }
}

.button:hover {
  opacity: 100;
}

.long-button {
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 5px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #FFF;
  background-color: #0D606F;
  cursor: pointer;
}
@media (max-width: 650px) {
  .long-button {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 5px 10px;
  }
}

.arrow {
  margin-right: 5px;
}
@media (max-width: 650px) {
  .arrow {
    width: 10px;
    height: 10px;
  }
}

.button:hover {
  opacity: 70%;
}

.preview_form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #FFF;
  opacity: 80%;
  margin-bottom: 200px;
  height: 95px;
  width: 100%;
  padding-right: 10px;
}
@media (max-width: 650px) {
  .preview_form {
    width: auto;
    height: 48px;
    margin-bottom: 50px;
    margin-top: 100px;
  }
}

input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-style: italic;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  padding-left: 20px;
}
@media (max-width: 650px) {
  input {
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding-left: 5px;
  }
}

input::placeholder {
  color: #F2785C;
}

.burger {
  display: none;
}
@media (max-width: 650px) {
  .burger {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 27px;
    padding: 0 0px;
  }
}

.second {
  top: calc(50% - 1.5px);
  left: 0;
}

.first {
  top: 0;
  left: 0;
}

.third {
  bottom: 0;
  left: 0;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.header {
  background-color: #F2785C;
  opacity: 70%;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5019607843);
  padding: 20px 100px 20px 100px;
}
@media (max-width: 650px) {
  .header {
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
    padding: 10px 30px;
    box-shadow: none;
  }
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  font-family: "Red Hat Text", Verdana, sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #FFF;
}

.logo_text {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  cursor: pointer;
  color: #FFF;
}
@media (max-width: 650px) {
  .logo_text {
    display: none;
  }
}

.logo {
  text-decoration: none;
}

.navigation_link {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}
@media (max-width: 650px) {
  .navigation_link {
    display: none;
  }
}

.header-preview-container {
  background: url(../img/garrett-parker-DlkF4-dbCOU-unsplash.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview {
  padding: 30px 100px;
}
@media (max-width: 650px) {
  .preview {
    padding: 30px 10px;
  }
}

.preview_content {
  width: 73%;
}
@media (max-width: 768px) {
  .preview_content {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .preview_content {
    width: 100%;
  }
}

.preview_text {
  color: #FFF;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
}
@media (max-width: 650px) {
  .preview_text {
    display: none;
  }
}

.stories {
  position: relative;
  background-image: url(../img/Rectangle\ 33.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.stories-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px 100px;
}
@media (max-width: 768px) {
  .stories-wrapper {
    padding: 20px 50px;
  }
}
@media (max-width: 650px) {
  .stories-wrapper {
    padding: 10px 10px;
  }
}

.container-and-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container_item {
  gap: 20px 20px;
  margin-bottom: 30px;
}
@media (max-width: 650px) {
  .container_item {
    gap: 10px 10px;
    margin-bottom: 10px;
  }
}

.stories_img {
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}
@media (max-width: 650px) {
  .stories_img {
    width: 155px;
    height: 130px;
  }
}

.story_description,
.stoty_link {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #0D606F;
}
@media (max-width: 768px) {
  .story_description,
  .stoty_link {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
@media (max-width: 650px) {
  .story_description,
  .stoty_link {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}

.steps {
  padding: 30px 100px 50px 100px;
}
@media (max-width: 650px) {
  .steps {
    padding: 20px 5px 20px 5px;
  }
}

.layout-3-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
@media (max-width: 650px) {
  .layout-3-column {
    margin-top: 10px;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media (max-width: 650px) {
  .step {
    width: 33%;
  }
}

.step_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 650px) {
  .icon-svg {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 650px) {
  .step {
    margin-right: 20px;
  }
}

@media (max-width: 650px) {
  .last-step-text {
    text-align: end;
  }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  margin-bottom: 50px;
  overflow: hidden;
}
@media (max-width: 650px) {
  .slider {
    position: relative;
  }
}

.slider_container {
  margin-bottom: 30px;
}

.slider_navigation {
  margin-bottom: 30px;
}
@media (max-width: 650px) {
  .slider_navigation {
    position: absolute;
    top: 65%;
  }
}

.slider-item {
  margin: 0 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.slider_img {
  border-radius: 16px;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 5px;
}
@media (max-width: 650px) {
  .text-overlay {
    top: 0;
  }
}

@media (max-width: 650px) {
  .slider_img {
    width: 360px;
    height: 210px;
  }
}

.mobile-arrows {
  display: none;
}
@media (max-width: 650px) {
  .mobile-arrows {
    display: flex;
    position: absolute;
    top: 30%;
    left: 10px;
    right: 10px;
    justify-content: space-between;
    z-index: 1;
  }
}

.arrow-left {
  background-image: url(../img/ep_arrow-up-bold.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.arrow {
  border: none;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.arrow-right {
  background-image: url(../img/ep_arrow-up-bold-active.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 650px) {
  .slider_navigation_img {
    width: 8px;
    height: 8px;
  }
}

.footer {
  padding: 20px 100px;
  background-image: url(../img/Rectangle\ 33.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.social-icon {
  margin-right: 15px;
}

.footer-item_text {
  color: #FFF;
}
@media (max-width: 650px) {
  .footer-item_text {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
