.footer{
    padding: 20px 100px;
    background-image: url(../img/Rectangle\ 33.png);
    background-size: cover;
    background-repeat: no-repeat; 
}
.footer_wraper{
    @extend %column; 
}
.social-icons{
    @extend %column;  
    
}
.social-icon{
   margin-right: 15px;

}
.footer-item_text{
    color: $color-heading;
}