.steps{
    padding: 30px 100px 50px 100px;
}

.layout-3-column{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:50px;
}
.step_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}