.burger{
    display: none;
    @include media-mobile-m{
    display: inline-block;
    position: relative;
    width: 32px;
    height: 27px;
    padding: 0 0px;
    // &::before {
    //     @extend %humburger-line;
    //      top: 0;
    //     left:0;}
    //  &::before {
    //         @extend %humburger-line;
    //     bottom: 0;
    //     left:0;}
    }}
    
    
.burger_line{
    @extend %humburger-line;}

.second {
    top: calc(50% - 1.5px);
    left:0;
}
.first{
    top: 0;
    left:0;
}
.third{
   bottom: 0;
    left:0;
}
