.header{
    background-color: $color-brand;
    opacity: 70%;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding: 20px 0 20px 0;
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
display: flex;
font-family: 'Red Hat Text', Verdana, sans-serif;
font-size: 1.6rem;
line-height: 2.1rem;
color: $color-heading;


}
.navigation_link{
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
}